* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/3.jpg);
    padding: 5px 10px;
}

.menu-title {
    background-color: white;
    padding: 5px 10px;
    color: black;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    text-align: center;
}

.web-title {
    text-align: center;
    font-size: 60px;
}

.menu-form {
    opacity: 90%;
    background-color: white;
    padding: 1px 5px 10px 30px;
    color: black;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
}

.list-inner {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    transform: translateY(80px);
}

.item-cell {
    -webkit-box-flex: 0;
    flex: 0 1 250px;
    max-width: 250px;
    height: 137.5px;
    margin: 65.4px 12.5px 25px;
    position: relative;
    padding: 0.5em;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.1);
}

.item-image {
    object-fit: cover;
    object-position: center;
    filter: grayscale(80%);
}

.item-title {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 1.75em;
    transition: opacity 350ms;
}

.item-cell::before,
.item-cell::after {
    content: '';
}

.item-cell::before,
.item-cell::after,
.item-image {
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    position: absolute;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: -1;
}

.item-cell::before {
    background: #fff;
    transform: scale(1.055);
}

.item-cell::after {
    background: #111111;
    opacity: 0.7;
    transition: opacity 350ms;
    -webkit-transition: opacity 350ms;
}

.item-cell:hover
.item-title {
    opacity: 0;
}

.item-cell:hover
.item-cell-image {
    filter: grayscale(0%);
}

.item-cell:hover::before {
    background: #fc5130;
}

.item-cell:hover::after {
    opacity: 0;
}