body{
    background-image: url(../img/3.jpg);
}

.menu-title {
    background-color: white;
    padding: 5px 10px;
    color: black;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    text-align: center;
}

.web-title {
    text-align: center;
    font-size: 60px;
}

.menu-form {
    opacity: 90%;
    background-color: white;
    padding: 1px 5px 10px 30px;
    color: black;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
}

.navbar-top {
  list-style-type: none;
  text-transform:uppercase;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.carousel-slide {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.item {
    width: 100%;
    height: 100%;
    display: none;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-button {
    background-color: white;
    opacity: 80%;
    height: 135px;
}
button{
    background-color: #555;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form-button-left {
    top: 50%;
    left: 50%;
    transform: translate(400%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
}

.form-button-right {
    top: 50%;
    left: 50%;
    transform: translate(-500%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
}

.button-go{
    transform: translate(300%, -50%);
}

.button-go a {
    color: white;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-back a {
    color: white;
}