body{
    background-image: url(../img/3.jpg);
    padding: 5px 10px;
}

.menu-title {
    background-color: white;
    padding: 5px 10px;
    color: black;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    text-align: center;
}

header {
    text-align: center;
    font-size: 30px;
}

.menu-form {
    opacity: 90%;
    background-color: white;
    color: black;
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    opacity: 100%;
    margin: 25px 50px 75px 100px;
    border-style: groove;
    padding: 20px 30px 10px 30px;
}

form label, input {
    margin-bottom: 10px;
}

nav {
  list-style-type: none;
  text-transform:uppercase;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #111111;
}

.menu-top-active {
    background-color: #111111;
}

.carousel-slide {
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease;
}

.item {
    width: 100%;
    height: 100%;
    display: none;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-title {
    color: white;
    top: 50%;
    left: 20%;
    position: absolute;
    font-size: 60px;
}

.menu-button {
    background-color: white;
    opacity: 80%;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-go{
    align-items: center;
}

.button-go a {
    color: white;
}

button{
    margin-top: 20px;
    background-color: #555;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form-button-left {
    top: 50%;
    left: 50%;
    transform: translate(400%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
}

.form-button-right {
    top: 50%;
    left: 50%;
    transform: translate(-500%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
}

/* 
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-back a {
    color: white;
} */

.card-container {
    width: 80%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
}

.card {
    padding: 2rem;
    box-shadow: 0 0 .4rem .4rem rgba(0, 0, 0, 0.2);
    transition: .4s ease-in;
}

.card:hover {
    background: gray;
}
  
.card-title {
    color: tomato;
    margin-bottom: .5rem;
    font-size: 20px;
    text-align: center;
}
  
.card-image {
    width: 100%;
    height: auto;
}  

.card-body {
    color: navy;
}

@media (min-width: 1281px) and (max-width: 5000px) {
    .carousel-title {
        color: white;
        top: 50%;
        left: 20%;
        position: absolute;
        font-size: 60px;
    }

    button{
        font-size: 18px;
        width: 160px;
        text-align: center;
    }
    
    .form-button-left {
        top: 40%;
        left: 50%;
        transform: translate(300%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
    }
    
    .form-button-right {
        top: 40%;
        left: 50%;
        transform: translate(-420%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
    }
}

@media (min-width: 1000px) and (max-width: 1280px) {
    .carousel-title {
        color: white;
        top: 40%;
        left: 10%;
        position: absolute;
        font-size: 60px;
    }

    button{
        font-size: 18px;
        width: 160px;
        text-align: center;
    }
    
    .form-button-left {
        top: 30%;
        left: 50%;
        transform: translate(190%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
    }
    
    .form-button-right {
        top: 30%;
        left: 50%;
        transform: translate(-290%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
    }

    .card-container {
        grid-template-columns: auto auto auto;
    }
}

@media (min-width: 768px) and (max-width: 999px) {
    .carousel-title {
        color: white;
        top: 40%;
        left: 10%;
        position: absolute;
        font-size: 60px;
    }

    button{
        font-size: 14px;
        width: 120px;
        text-align: center;
    }
    
    .form-button-left {
        top: 30%;
        left: 50%;
        transform: translate(190%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
    }
    
    .form-button-right {
        top: 30%;
        left: 50%;
        transform: translate(-290%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
    }

    .card-container {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 550px) and (max-width: 767px) {
    .carousel-title {
        color: white;
        top: 30%;
        left: 10%;
        position: absolute;
        font-size: 40px;
    }

    button{
        font-size: 14px;
        width: 120px;
        text-align: center;
    }
    
    .form-button-left {
        top: 15%;
        left: 50%;
        transform: translate(100%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
    }

    .form-button-right {
        top: 15%;
        left: 50%;
        transform: translate(-200%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
    }

    .card-container {
        grid-template-columns: auto;
    }
}

@media (min-width: 320px) and (max-width: 549px) {
    .carousel-title {
        color: white;
        top: 45%;
        left: 10%;
        position: absolute;
        font-size: 20px;
    }

    button{
        font-size: 12px;
        width: 120px;
        text-align: center;
    }
    
    .form-button-left {
        top: 15%;
        left: 50%;
        transform: translate(30%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
    }

    .form-button-right {
        top: 15%;
        left: 50%;
        transform: translate(-125%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
    }

    .card-container {
        grid-template-columns: auto;
    }
}

@media (min-width: 100px) and (max-width: 319px) {
    button{
        font-size: 12px;
        width: 120px;
        text-align: center;
    }

    .carousel-title {
        color: white;
        top: 20%;
        left: 10%;
        position: absolute;
        font-size: 20px;
    }
    
    .form-button-left {
        top: 10%;
        left: 50%;
        transform: translate(30%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
    }

    .form-button-right {
        top: 10%;
        left: 50%;
        transform: translate(-125%, -50%);
        -ms-transform: translate(-50%, -50%);
        position: absolute;
    }

    .card-container {
        grid-template-columns: auto;
    }
}